/*color palette
Orange:
#fd5901
#f78104
#faab36

Teal:
#249ea0
#008083
#005f60
*/

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #249ea0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.my-title {
  font-family: Cocogoose, 'Rowdies', cursive;
  font-size: 38px;
  color: #fff;
  text-align: center;
}

.social {
  font-size: 24px;
  letter-spacing: 24px;
  color: #ffffff;
}

.social:hover {
  color: #f78104;
  text-shadow: 2px 2px #00000015;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.navbar-color {
  --bs-navbar-color: #fff;
  --bs-navbar-hover-color: #f78104;
  --bs-navbar-disabled-color: #fdca7d;
  --bs-navbar-active-color: #fd5901;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #f78104;
  --bs-navbar-toggler-border-color: #fff;
  background-color: #249ea0;
  box-shadow: 0 2px 18px 0 #f78104;
}

.btn-orange {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #f78104;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #faab36;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f78104;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fdca7d;
  font-family: Cocogoose, 'Rowdies', cursive;
}

.btn-teal {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #249ea0;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #5bd1d3;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #005f60;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #7dfdff;
  font-family: Cocogoose, 'Rowdies', cursive;
}

.my-card {
  --bs-card-bg: #f78104;
  --bs-card-border-width: 0px;
  --bs-card-border-radius: 5px;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
  opacity: 1
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1
}

.content-details h5 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.picture {
  position: relative;
}

.pict {
  width: 90%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.pict-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.pict-hover:hover {
  opacity: 1;
}

.news-title {
  text-decoration: none;
  color: #fff;
}

.mask {
  position: absolute;
  left: 0;
  top: 40%;
  padding: 5%;
  width: 100%;
  height: 60%;
  color: #fff;
  font-size: 24px;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
}

.zoom-img {
  overflow: hidden;
}

.zoom-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.1s ease-in-out;
}

.zoom-img img:hover {
  transform: scale(1.03);
}

.footer {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
}

.footer-links, a.footer-links {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  line-height: 2;
}


.footer-links:hover {
  text-decoration: underline;
}